KERNEL=="lcd[0-9]*", SUBSYSTEM=="usbmisc", SUBSYSTEMS=="usb", ATTRS{idVendor}=="15c2", ATTRS{idProduct}=="0038", SYMLINK+="lcd0"
KERNEL=="lcd[0-9]*", SUBSYSTEM=="usbmisc", SUBSYSTEMS=="usb", ATTRS{idVendor}=="15c2", ATTRS{idProduct}=="0038", SYMLINK+="lcd1"
KERNEL=="lcd[0-9]*", SUBSYSTEM=="usbmisc", SUBSYSTEMS=="usb", ATTRS{idVendor}=="15c2", ATTRS{idProduct}=="0038", RUN+="/usr/bin/systemctl restart lcdd.service"