[Unit]
Description=LCD display driver
After=network.target

[Service]
ExecStart=/usr/bin/LCDd -f -c /etc/LCDd.conf
TimeoutStopSec=1s
Restart=on-failure
RestartSec=5
StartLimitInterval=30
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
