[Unit]
Description=Tvheadend - a TV streaming server and DVR
After=syslog.target network.target auditd.service

[Service]
ExecStart=/usr/bin/tvheadend.bin
ExecStop=/usr/bin/rm /run/tvheadend.pid
PIDFile=/var/run/tvheadend.pid
Type=forking
Restart=on-failure
RestartSec=54s

[Install]
WantedBy=multi-user.target
